<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>
</head>
<body>
    <h2>Ming Tan</h2>
    <video src="" id="localStream" width="1000" controls></video>
    <br>
    <video src="" id="friendStream" width="1000" controls></video>
    <br>
    <textarea name="" id="txtSignal" cols="30" rows="10"></textarea>
    <br>
    <input type="text" id="inputToken">
    <br>
    <button id="connectBtn" >Connect</button>
</body>

<script src="/bundle.js"></script>
</html>