<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>

</head>
<body>
    <h2 id="idConnect">Your ID : </h2>
    <video src="" id="localStream" width="1000" controls></video>
    <br>
    <video src="" id="friendStream" width="1000" controls></video>
    <br>
    <input type="text" id="remote-id">
    <br>
    <button id="connectBtn" >Connect</button>
</body>

<script src="/bundle.js"></script>
</html>